{% import "ChasAdminBundle:Admin:isActive.html.twig" as isActive %}

<ul>
    {% for page in pages %}
        <li>
            <a href="{{ path('_security_page_update', {'id': page.id}) }}" class="{{ isActive.isActive(page.page, currentpage) }}">{{ page.page }}</a>
        </li> 
    {% endfor %}
    <li><a href="{{ path('_security_page_new') }}" class="{{ isActive.isActive('newPage', currentpage) }}">New</a></li>
</ul>
