{% extends '::base.html.twig' %}

{% block body %}
<h1>Funäsfjällens Travel Guide API</h1>
<p>Don't make to many requests, this will get your ip blocked.</p>
<p>Append the urls with a .response-type to get the data in format you want, like this <a href="{{ path('API_all', {'resource': 'bus', '_format': 'json'}) }}">/api/timetable/bus.html</a>. These formats are available:
<ul>
    <li>.html (default)</li>
    <li>.json</li>
    <li>.xml</li>
</ul>
Not all formats are available for every request.
</p>
<p>
The API uses a internal request cache, and the symfont cache. How long the system will cache the request depends on the request type.
</p>
<p>
<ul>
    <li><a href="{{ path('API_weather', { 'lat': '62.53', 'lon': '12.55' }) }}">/api/weather/62.53/12.55</a></li>
    <li><a href="{{ path('API_carpool_all') }}">/api/carpool</a></li>
{% for timetable in timetables %}
    <li><a href="{{ path('API_all', { 'resource':  timetable.type  }) }}">/api/timetable/{{ timetable.type }}</a></li>
{% endfor %}
</ul>
</p>
{% endblock %}
