{% import "ChasAdminBundle:Admin:isActive.html.twig" as isActive %}

<ul>
    <li><a href="{{ path('_security_dashboard') }}">Dashboard</a></li>
    <li class="not-done"><a href="#">TimeTables</a></li>
    <li><a href="{{ path('ChasAdminBundle_route') }}">Routes</a></li>
    <li><a href="{{ path('ChasAdminBundle_page') }}">Pages</a></li>
    <li><a href="{{ path('ChasAdminBundle_carpool') }}">CarPool</a></li>
    <li class="not-done"><a href="#">Statistics</a></li>
    <li><a href="{{ path('ChasAdminBundle_banner') }}">Banners</a></li>
</ul>
